<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>意图识别验证系统</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/comon0.css">
</head>
<script>
    $(window).load(function () {
        $(".loading").fadeOut()
    })
    /****/
    $(document).ready(function () {
        var whei = $(window).width()
        $("html").css({fontSize: whei / 20})
        $(window).resize(function () {
            var whei = $(window).width()
            $("html").css({fontSize: whei / 20})
        });
    });
</script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/china.js"></script>
<script type="text/javascript" src="https://layui.vercel.app/layui-v2.6.8/layui/layui.js"></script>
<link href="https://layui.vercel.app/layui-v2.6.8/layui/css/layui.css"  rel="stylesheet" type="text/css"/>
<body>
<div class="canvas" style="opacity: .2">
    <iframe frameborder="0" src="../static/js/index.html" style="width: 100%; height: 100%"></iframe>
</div>
<div class="loading">
    <div class="loadbox"><img src="../static/picture/loading.gif"> 页面加载中...</div>
</div>
<div class="head">
    <button class="layui-btn layui-btn-primary layui-border-blue" id="dropdown" style="position: absolute;top: 8px;left: 5px;">
      选项
      <i class="layui-icon layui-icon-down layui-font-12" style="color: #1E9FFF;"></i>
    </button>
    <h1>{{ title }}</h1>
    <div class="weather">
        <!--        <img src="picture/weather.png"><span>多云转小雨</span>-->
        <span id="showTime"></span>
    </div>
    <script>
        var t = null;
        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日" + "-" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
    </script>
</div>
<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: 4rem">
                <div class="alltitle">{{ form.echart1.title }}</div>
                <div class="allnav" id="echart1"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 4rem">
                <div class="alltitle">{{ form.echart2.title }}</div>
                <div class="allnav" id="echart2"></div>
                <div class="boxfoot"></div>
            </div>
        </li>
        <li>
            <div class="bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter">{{ form.counter.value }}</li>
                        <li class="pulll_left counter">{{ form.counter2.value }}</li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left">{{ form.counter.name }}</li>
                        <li class="pulll_left">{{ form.counter2.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="map">
                <div class="map1"><img src="../static/picture/lbx.png"></div>
                <div class="map2"><img src="../static/picture/jt.png"></div>
                <div class="map3"><img src="../static/picture/map.png"></div>
                <div class="map4" style="margin-top:0.1rem;top:0;left:0;">
                    <div class="boxall" style="height: 6.6rem;width:7.9rem">
                        <div class="alltitle">{{form.echart6.title}}</div>
                        <div class="allnav" id="echart6"></div>
                        <div class="boxfoot"></div>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="boxall" style="height:4rem">
                <div class="alltitle">{{ form.echart4.title }}</div>
                <div class="allnav" id="echart4"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 4rem">
                <div class="alltitle">{{ form.echart5.title }}</div>
                <div class="allnav" id="echart5"></div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
</div>
<div class="back"></div>
<!--设置的表单-->
<form class="layui-form" action="" id="settingForm" style="display:none;padding:13px;">
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 90px;">场景选择</label>
    <div class="layui-input-block">
      <select name="city" lay-verify="required">
        <option value=""></option>
        <option value="0">场景一</option>
        <option value="1">场景二</option>
      </select>
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label" style="width: 90px;">目标选择</label>
    <div class="layui-input-block">
      <select name="city" lay-verify="required">
        <option value=""></option>
        <option value="0">目标一</option>
        <option value="1">目标二</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 90px;">选择算法</label>
    <div class="layui-input-block">
      <input type="checkbox" name="like[write]" title="LSTM">
      <input type="checkbox" name="like[read]" title="MF-DBN">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<!--专家经验表格-->
<div class="layui-tab layui-tab-brief" id="expertExperience" style="display: none" >
  <ul class="layui-tab-title">
    <li class="layui-this">特征属性状态空间划分</li>
    <li>数据标注规则</li>
  </ul>
  <div class="layui-tab-content" >
    <div class="layui-tab-item layui-show">内容1</div>
    <div class="layui-tab-item">
        <table class="layui-table" lay-skin="row" style="margin: 9px;">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>飞行高度</th>
      <th>飞行速度</th>
      <th>距离</th>
      <th>结果</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>超高空</td>
      <td>-</td>
      <td>近</td>
      <td>超高空盘旋</td>
    </tr>
    <tr>
      <td>高空</td>
      <td>-</td>
      <td>近</td>
      <td>高空盘旋</td>
    </tr>
    <tr>
      <td>中空</td>
      <td>高速</td>
      <td>远</td>
      <td>中空高速巡航</td>
    </tr>
    <tr>
      <td>中空</td>
      <td>低速</td>
      <td>远</td>
      <td>中空巡航</td>
    </tr>
    <tr>
      <td>中空</td>
      <td>低速</td>
      <td>近</td>
      <td>中空盘旋</td>
    </tr>
    <tr>
      <td>低空</td>
      <td>高速</td>
      <td>近</td>
      <td>低空高速盘旋</td>
    </tr>
    <tr>
      <td>低空</td>
      <td>低速</td>
      <td>近</td>
      <td>低空盘旋</td>
    </tr>
    <tr>
      <td>低空</td>
      <td>高速</td>
      <td>远</td>
      <td>低空高速巡航</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>

<!--echart1-->
<script>
    $(function echarts_1() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart1'));

        option = {
            //  backgroundColor: '#00265f',
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '0%',
                top: '10px',
                right: '0%',
                bottom: '4%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: {{form.echart1.xAxis|safe}},
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                        width: 1,
                        type: "solid"
                    },
                },

                axisTick: {
                    show: false,
                },
                axisLabel: {
                    interval: 0,
                    // rotate:50,
                    show: true,
                    splitNumber: 15,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
            }],
            yAxis: [{
                type: 'value',
                axisLabel: {
                    //formatter: '{value} %'
                    show: true,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
                axisTick: {
                    show: false,
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1	)",
                        width: 1,
                        type: "solid"
                    },
                },
                splitLine: {
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                    }
                }
            }],
            series: [
                {
                    type: 'bar',
                    data: {{form.echart1.series|safe}},
                    barWidth: '35%', //柱子宽度
                    // barGap: 1, //柱子之间间距
                    itemStyle: {
                        normal: {
                            color: '#2f89cf',
                            opacity: 1,
                            barBorderRadius: 5,
                        }
                    }
                }

            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })


</script>
<!--echart2-->
<script>
    $(function echarts_2() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart2'));

        option = {
            //  backgroundColor: '#00265f',
            tooltip: {
                trigger: 'axis',
                axisPointer: {type: 'shadow'}
            },
            grid: {
                left: '0%',
                top: '10px',
                right: '0%',
                bottom: '4%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: {{form.echart2.xAxis|safe}},
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                        width: 1,
                        type: "solid"
                    },
                },

                axisTick: {
                    show: false,
                },
                axisLabel: {
                    interval: 0,
                    // rotate:50,
                    show: true,
                    splitNumber: 15,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
            }],
            yAxis: [{
                type: 'value',
                axisLabel: {
                    //formatter: '{value} %'
                    show: true,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
                axisTick: {
                    show: false,
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1	)",
                        width: 1,
                        type: "solid"
                    },
                },
                splitLine: {
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                    }
                }
            }],
            series: [
                {

                    type: 'bar',
                    data: {{form.echart2.series|safe}},
                    barWidth: '35%', //柱子宽度
                    // barGap: 1, //柱子之间间距
                    itemStyle: {
                        normal: {
                            color: '#27d08a',
                            opacity: 1,
                            barBorderRadius: 5,
                        }
                    }
                }

            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })


</script>
<!--echarts4-->
<script>
    $(function echarts_4() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart4'));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: '#dddc6b'
                    }
                }
            },
            legend: {
                top: '0%',
                data:{{form.echart4.names|safe}},
                textStyle: {
                    color: 'rgba(255,255,255,.5)',
                    fontSize: '12',
                }
            },
            grid: {
                left: '10',
                top: '30',
                right: '10',
                bottom: '10',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLabel: {
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: 12,
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.2)'
                    }
                },
                data: {{form.echart4.xAxis|safe}}
            }, {
                axisPointer: {show: false},
                axisLine: {show: false},
                position: 'bottom',
                offset: 20,
            }],
            yAxis: [{
                type: 'value',
                axisTick: {show: false},
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.1)'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: 12,
                    },
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.1)'
                    }
                }
            }],
            series: [
                {
                    name: '{{form.echart4.data[0].name}}',
                    data: {{form.echart4.data[0].value|safe}},
                    type: 'line',
                    smooth: true,
                    symbol: 'circle',
                    symbolSize: 5,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            color: '#0184d5',
                            width: 2
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(1, 132, 213, 0.4)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(1, 132, 213, 0.1)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#0184d5',
                            borderColor: 'rgba(221, 220, 107, .1)',
                            borderWidth: 12
                        }
                    },
                },
                {
                    name: '{{form.echart4.data[1].name}}',
                    data: {{form.echart4.data[1].value|safe}},
                    type: 'line',
                    smooth: true,
                    symbol: 'circle',
                    symbolSize: 5,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            color: '#00d887',
                            width: 2
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(0, 216, 135, 0.4)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(0, 216, 135, 0.1)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#00d887',
                            borderColor: 'rgba(221, 220, 107, .1)',
                            borderWidth: 12
                        }
                    },
                },
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })

</script>
<!--echarts5-->
<script>
    $(function echarts_5() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart5'));

        option = {
            //  backgroundColor: '#00265f',
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '0%',
                top: '10px',
                right: '0%',
                bottom: '2%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: {{form.echart5.xAxis|safe}},
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                        width: 1,
                        type: "solid"
                    },
                },
                axisTick: {
                    show: false,
                },
                axisLabel: {
                    interval: 0,
                    // rotate:50,
                    show: true,
                    splitNumber: 15,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
            }],
            yAxis: [{
                type: 'value',
                axisLabel: {
                    //formatter: '{value} %'
                    show: true,
                    textStyle: {
                        color: "rgba(255,255,255,.6)",
                        fontSize: '12',
                    },
                },
                axisTick: {
                    show: false,
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "rgba(255,255,255,.1	)",
                        width: 1,
                        type: "solid"
                    },
                },
                splitLine: {
                    lineStyle: {
                        color: "rgba(255,255,255,.1)",
                    }
                }
            }],
            series: [{
                type: 'bar',
                data: {{form.echart5.series|safe}},
                barWidth: '35%', //柱子宽度
                // barGap: 1, //柱子之间间距
                itemStyle: {
                    normal: {
                        color: '#2f89cf',
                        opacity: 1,
                        barBorderRadius: 5,
                    }
                }
            }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })


</script>
<!--echarts6-->
<script>
    $(function echarts_6() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart6'));
        var dataStyle = {
            normal: {
                label: {
                    show: false
                },
                labelLine: {
                    show: false
                },
                //shadowBlur: 40,
                //shadowColor: 'rgba(40, 40, 40, 1)',
            }
        };
        var placeHolderStyle = {
            normal: {
                color: 'rgba(255,255,255,.05)',
                label: {show: false,},
                labelLine: {show: false}
            },
            emphasis: {
                color: 'rgba(0,0,0,0)'
            }
        };
        option = {
            color: ['#0f63d6', '#0f78d6', '#0f8cd6', '#0fa0d6', '#0fb4d6'],
            tooltip: {
                show: true,
                formatter: "{a} : {c} "
            },
            legend: {
                itemWidth: 10,
                itemHeight: 10,
                itemGap: 12,
                bottom: '3%',
                data: {{form.echart6.xAxis|safe}},
                textStyle: {
                    color: 'rgba(255,255,255,.6)',
                }
            },
            series: [
                {% for item in form.echart6.data %}
                    {
                        name: '{{item.name|safe}}',
                        type: 'pie',
                        clockWise: false,
                        center: ['50%', '42%'],
                        radius: {{item.radius|safe}},
                        itemStyle: dataStyle,
                        hoverAnimation: false,
                        data: [{
                            value: {{item.value}},
                            name: '{{item.color}}'
                        }, {
                            value: {{item.value2}},
                            name: 'invisible',
                            tooltip: {show: false},
                            itemStyle: placeHolderStyle
                        }]
                    },
                {% endfor %}
            ]
        };

// 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })
</script>
<!--下拉菜单-->
<script>
layui.use(['dropdown','layer','form'], function(){
  var dropdown = layui.dropdown;
  var layer=layui.layer;
  var form = layui.form;
  dropdown.render({
    elem: '#dropdown' //可绑定在任意元素中，此处以上述按钮为例
    ,data: [{
      title: '验证场景设定'
      ,id: 1
      ,href: '#'
    },{
      title: '专家经验知识'
      ,id: 2
      ,target: '_blank' //新窗口方式打开
    },{
      title: '设置'
      ,id: 3
      ,target: '_blank' //新窗口方式打开
    }]
    ,id: 'dropdown'
    //菜单被点击的事件
    ,click: function(obj){
    if(obj.title=="验证场景设定"){
      layer.open({
        type:1,
        title: '验证场景设定',
        content:'<div>验证场景设定</div>',
        area: ['50%', '80%'],
        shade: 0.5,
        shadeClose:true,
        });
    }
    else if(obj.title=="专家经验知识"){
        layer.open({
        type:1,
        title: '专家经验知识',
        content:$("#expertExperience"),
        area: ['60%', '70%'],
        });
    }
    else if(obj.title=="设置"){
        layer.open({
        type:1,
        title: '设置',
        content: $("#settingForm"),
        area: ['50%', '50%'],
        shade: 0.5,
        shadeClose:true,
        resize :false
        });
    }
    }
  });
});
</script>
</body>
</html>
